<% include ('header') %>

<body>
  <h2>Employee List</h2>
  <table>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Job Type</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Address</th>
    </tr>

    <% employees.forEach(employee => { %>
      <tr>
        <td> <%= employee.emp_id %> </td>
        <td> <%= employee.fname + " " + employee.mname+" " +employee.lname%> </td>
        <td> <%= employee.job_type %> </td>
        <td> <%= employee.gender %> </td>
        <td> <%= employee.contact_no %> </td>
        <td> <%= employee.email %> </td>
        <td> <%= employee.house_no + ", " + employee.city+", " +employee.state+', '+employee.country%> </td>
      </tr>
    
    <%}); %> 
    
    
  </table>
  
 

  <form action="" method="post">
    <h1>Add New Employee</h1>
    <h2>Name: </h2>
    <label for="fname"> First Name: </label>
    <input type="text" name="fname">
    <br>
    <label for="mname"> Middle Name: </label>
    <input type="text" name="mname">
    <br>
    <label for="lname"> Last Name: </label>
    <input type="text" name="lname">
    <br>
    <hr>
    <h2>ID Proof:</h2>
    <label for="idtype"> ID Proof: </label>
    <input type="text" name="idtype">
    <br>
    <label for="idno"> ID Number: </label>
    <input type="text" name="idno">
    <br>
    <hr>

    <h2>Details: </h2>
    <label for="jobtype"> Job Type </label>
    <input type="text" name="jobtype">
    <br>
    <label for="gender"> Gender </label>
    <select name="gender" id="">
      <option value="M">M</option>
      <option value="F">F</option>
      <option value="T">T</option>
    </select>
    <br>
    <label for="contact">Contact No.</label>
    <input type="number" name="contact">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email">


    <h4>Address:</h4>
    <label for="house">House No.</label>
    <input type="text" name="house" id=""> <br>
    <label for="city">City</label>
    <input type="text" name="city" id=""> <br>
    <label for="state">State</label>
    <input type="text" name="state" id=""> <br>
    <label for="country">Country</label>
    <input type="text" name="country" id=""> <br>

    <input type="submit" value="Add Employee">
  </form>
  

  

</body>

</html>